- if @photos.any?
  - @photos.each do |photo|
    = link_to photo.name, photo_path(photo)
    = link_to "Edit #{photo.name}", edit_photo_path(photo)
    = link_to "Delete #{photo.name}", photo_path(photo), method: :delete
- else
  %h1 No photos yet!

%a(href=new_photo_path) Add a photo
